pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.lsp/
.rebel_readline_history
/**/.lsp/.cache
/**/.clj-kondo/.lock
/**/.clj-kondo/inline-configs
/**/.clj-kondo/.cache
/**/.clj-kondo/imports
